{% extends "myapp/base.html" %}
{% load static %}

{% block content %}

<div style="display: flex; gap: 30px; width: 100%; padding: 20px;">

    <div class="scroll" style="flex: 3; overflow-y: auto; height: 90vh;">

        <h1 style="margin-bottom: 20px; color: white; margin-top: 30px; margin-bottom: 30px">Grupos de Estudio</h1>

        {% if messages %}
        <div id="message-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% for pub in publicaciones %}
        <div style="
            background: white;
            border-radius: 12px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        ">
            <h2 style="margin-bottom: 10px; overflow-wrap: break-word; word-break: break-word;">
                {{ pub.titulo }}
            </h2>

            <p style="font-size: 15px; color: #444; margin-bottom: 10px; overflow-wrap: break-word; word-break: break-word;">
                {{ pub.contenido }}
            </p>

            <p style="margin-bottom: 10px"><strong>Sala:</strong> {{ pub.sala.nombre }} — Piso {{ pub.sala.piso.numero }}</p>
            <p style="margin-bottom: 10px"><strong>Creado por:</strong> {{ pub.creador.username }}</p>
            <p style="margin-bottom: 10px"><strong>Fecha de publicación:</strong> {{ pub.fecha_creacion }}</p>

            {% if pub.cupos_disponibles == 0 %}
                <p style="color: red;"><strong>No hay cupos disponibles.</strong></p>
            {% else %}
                <p>
                    <strong>Cupos disponibles:</strong>
                    {{ pub.cupos_disponibles }} / {{ pub.cupos_maximos }}
                </p>
            {% endif %}

            <div style="margin-top: 15px; display: flex; gap: 10px;">

                {% if user == pub.creador %}
                    <a href="{% url 'borrar_publicacion' pub.id %}"
                       style="background: #e74c3c; color: white; padding: 8px 12px;
                              border-radius: 8px; text-decoration: none;">
                        Borrar
                    </a>

                {% else %}
                    {% if pub.id in grupos_unidos %}
                        <a href="{% url 'salir_grupo' pub.id %}"
                           style="background: #e67e22; color: white; padding: 8px 12px;
                                  border-radius: 8px; text-decoration: none;">
                            Salir del grupo
                        </a>

                    {% elif pub.cupos_disponibles > 0 %}
                        <a href="{% url 'unirse_grupo' pub.id %}"
                           style="background: #27ae60; color: white; padding: 8px 12px;
                                  border-radius: 8px; text-decoration: none;">
                            Unirse al grupo
                        </a>

                    {% else %}
                        <button disabled
                                style="background: gray; color: white; padding: 8px 12px; border-radius: 8px;">
                            Sin cupos
                        </button>
                    {% endif %}

                {% endif %}
            </div>

        </div>
        {% empty %}
            <p class='mensaje' style="font-size: 50px;">Aún no hay grupos publicados.</p>
        {% endfor %}
    </div>

    <div class="scroll" style="
        flex: 1;
        padding: 0 5px;
        margin-top: 50px;
        position: sticky;
        top: 20px;
        overflow-y: auto;
        max-height: 80vh;
    ">

        {% if unido %}

            <h2 style="color: white; margin-bottom: 20px;">
                Eres miembro de:
            </h2>

            {% for grupo in unido %}

                <div style="
                    background: white;
                    border-radius: 12px;
                    padding: 15px 20px;
                    margin-bottom: 20px;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                ">
                    <h3 style="font-size: 17px; margin-bottom: 8px; overflow-wrap: break-word;">
                        {{ grupo.publicacion.titulo }}
                    </h3>

                    <p style="font-size: 14px; color: #070707; margin: 0;">
                        <strong>Creado por:</strong> {{ grupo.publicacion.creador.username }}
                    </p>
                </div>

            {% endfor %}

        {% else %}
            <p class='mensaje' style="font-size: 30px;">Aquí aparecerán los grupos a los que te unas.</p>
        {% endif %}
    </div>

    <script>
        setTimeout(() => {
            const messages = document.querySelectorAll('#message-container .alert');
            messages.forEach(msg => {
                msg.style.opacity = '0';
                setTimeout(() => msg.remove(), 500);
            });
        }, 5000);
    </script>
</div>

{% endblock %}
