<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/design_registro_inicio.css' %}">
</head>
<body>
    <div class="formulario">

        <form method="POST" class="formulario1">

            <h1>Registro de usuario</h1>

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% csrf_token %}
            <div class="contenedor">
                <input type="text" name="username" class="input" placeholder="" required>
                <label  for="" class="label">Nombre de usuario</label>
            </div>

            <div class="contenedor">
                <input type="password" name="password1" class="input" placeholder="" required>
                <label  for="" class="label">Contraseña</label>
            </div>

            <div class="contenedor">
                <input type="password" name="password2" class="input" placeholder="" required>
                <label  for="" class="label">Repetir contraseña</label>
            </div>

            <input type="submit" class="boton" value="Registrar">
        </form>

    </div>
</body>
</html>