{% extends "myapp/mapa_piso_4.html" %}
{% block content %}
<h1>Salas Libres - Piso 4</h1>
{% for edificio, dias in data.items %}
  <details>
    <summary>{{ edificio }}</summary>
    {% for dia, salas in dias.items %}
      <details>
        <summary>-{{ dia }}</summary>
        {% for sala, bloques in salas.items %}
          <details>
            <summary>--{{ sala }}:</summary>
            <ul>
              {% for bloque in bloques %}
                <li>{{ bloque }}</li>
              {% endfor %}
            </ul>
          </details>
        {% endfor %}
      </details>
    {% endfor %}
  </details>
{% endfor %}
{% endblock %}