@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "lato", sans-serif;
  background: #f5f7fa;
}


.menu {
  background-color: rgb(0, 128, 85);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}


.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}


.menu ul li:first-child {
  font-weight: 600;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  padding: 6px 10px;
  border-radius: 6px;
}


.menu a:hover {
  background-color: white;
  color: rgb(0, 165, 110);
}


@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .menu ul li:first-child {
    font-size: 16px;
  }
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 120px;
  padding: 20px;
}

.option-card {
  background-color: rgb(0, 128, 85);
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 200px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  text-align: center;
  padding: 20px
}

.option-card:hover {
  background-color: white;
  color: rgb(0, 128, 85);
  transform: scale(1.05);
}


@media (max-width: 600px) {
  .options-container {
    flex-direction: column;
    align-items: center;
  }

  .option-card {
    width: 90%;
    height: 100px;
  }
}